
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Black &amp; White</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- css -->
    <link rel="stylesheet" href="{% static 'editor.md-master/css/editormd.min.css' %}">
    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'editor.md-master/editormd.min.js' %}"></script>

{##}
{#    <!-- 新 Bootstrap4 核心 CSS 文件 -->#}
{#    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">#}
{##}
{#    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->#}
{#    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>#}
{##}
{#    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->#}
{#    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>#}
{##}
{#    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->#}
{#    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>#}
     <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'blog/css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/highlights/github.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/pagination.css' %}">
    <!-- js -->
    <script src="{% static 'blog/js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/pace.min.js' %}"></script>
    <script src="{% static 'blog/js/modernizr.custom.js' %}"></script>

</head>
<body>
<div class="container">
<header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="{% url 'blog:index' %}"><b>Black</b> &amp; White</a></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">

                            <li class="cl-effect-11"><a href="{% url 'blog:index' %}" data-hover="首页">首页</a></li>
                            <li class="cl-effect-11"><a href="full-width.html" data-hover="博客">博客</a></li>
                        <li class="cl-effect-11"><a href="{% url 'blog:create' %}" data-hover="写作">写作</a></li>
                            <li class="cl-effect-11"><a href="about.html" data-hover="关于">关于</a></li>
                            <li class="cl-effect-11"><a href="contact.html" data-hover="联系">联系</a></li>
                            {% if user.is_authenticated %}
                                <li class="cl-effect-11">欢迎你<a href="#">{{ user.username }}</a></li>
                                  <li class="cl-effect-11">

                                    <a href="{% url 'logout' %}?next={{ request.path }}">注销登录</a>

                                </li>
                            {% else %}
                                <li class="cl-effect-11"><a href="{% url 'login' %}?next={{ request.path }}">登录</a>
                                </li>



                            {% endif %}
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                <div id="header-search-box">
                    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">
                            <input type="search" name="q" placeholder="搜索" required>
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
                    </div>
                </div>
            </div><!-- col-md-8 -->
        </div>
    </header>
    <h2>新增博客</h2>
    <form action="{% url 'blog:create_post' user.pk%}" >
        <div class="form-group">

            <label for="title">标题</label>
            <input type="text" class="form-control" id="title" placeholder="请输入标题" name="title" required>

        </div>
        <div class="form-group">
            <label for="title">内容</label>
            <div id="my-editormd">
                    <textarea class="form-control" id="my-editormd-markdown-doc" name="my-editormd-markdown-doc"
                              style="display:none;" required></textarea>
                <!-- 注意：name属性的值-->
                <textarea class="form-control" id="my-editormd-html-code" name="my-editormd-html-code"
                          style="display:none;"></textarea>
            </div>
        </div>
        <div class="form-check">
        <label for="title">标签</label>
            {% for tag in tag_list %}
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="tags" value="{{ tag.pk }}"> {{ tag.name }}
            </label>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="sel1">分类</label><br>
            <select class="form-control" id="sel1" name="cate">
                {% for cate in cate_list %}
                <option value="{{ cate.pk }}">{{ cate.name }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>
</body>
</html>


<script type="text/javascript">
    $(function () {
        editormd("my-editormd", {//注意1：这里的就是上面的DIV的id属性值
            width: "100%",
            height: 640,
            syncScrolling: "single",
            path: "{% static 'editor.md-master/editormd/lib/' %}",//注意2：你的路径
            saveHTMLToTextarea: true,//注意3：这个配置，方便post提交表单
            emoji:true
        });
    });
</script>
</body>

</html>